include ../common/mixin/mixin

mixin anchor(myAnchor, link)
    a(href = link )&attributes(attributes) #{myAnchor}

mixin button(myButton)
    button&attributes(attributes) #{myButton}

mixin img(myImage)
    img(src='dist/' + myImage, aria-hidden='true')&attributes(attributes)

mixin logo
    +img("logo.png")(alt="brand-image", class="img-responsive")

mixin aboutMeta
    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
mixin PrimaryNav
    nav.navbar.pull-right#sidebar-wrapper(role="navigation")
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            #myNavbar.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        +anchor("Home", '/')
                    li
                        +anchor("About", '/about')
                    li.dropdown.main-menu
                        +anchor("Services")(data-toggle='dropdown', class="dropdown-toggle")
                        ul.dropdown-menu
                            +ServiceMenuItem
                            
                    li
                        +anchor("Portfolio", '/portfolio')
                    li
                        +anchor("Testimonial", '/testimonial')
                    li
                        +anchor("Contact", '/contact')

mixin ServiceNav
    ul.services-link
      +ServiceMenuItem  

mixin ServiceMenuItem
    li
        +anchor("Packers and Movers","services/packers-and-movers")
    li
        +anchor("Home shifting","services/home-shifting")
    li
        +anchor("Corporate Relocation","services/corporate-relocation")
    li
        +anchor("Industrial relocation","services/industrial-relocation")
    li
        +anchor("Logistics","services/logistics")
    li
        +anchor("Single Car Carrier","services/single-car-carrier")
    li
        +anchor("Storage","services/storage")
    li
        +anchor("Warehouse","services/warehouse")


mixin socialNav
    ul.social-links
        li
            a(href="javascript:void(0);") 
                i.fa.fa-facebook(aria-hidden="true")
        li
            a(href="javascript:void(0);") 
                i.fa.fa-twitter(aria-hidden="true")
        li
            a(href="javascript:void(0);") 
                i.fa.fa-linkedin(aria-hidden="true")
        li
            a(href="javascript:void(0);") 
                i.fa.fa-instagram(aria-hidden="true")

mixin header
    header.primary
        .hero-bg
            //- +img("banner.jpg")
        .container
            .header-nav
                .row.no-gutter
                    .col-sm-3.col-xs-9
                        .nav-brand
                            +logo
                    .col-sm-9.col-xs-3.no-padding-right
                        +PrimaryNav
            .header-content
                h1 We welcome you to our transportation service
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry
                +anchor("contact us")(class="primary-btn" ,href="#contact-form-modal", data-toggle="modal")
mixin footer
    footer
        .container
            .row
                .col-sm-4.col-xs-12
                    +widget("about")
                .col-sm-4.col-xs-12
                    +widget("services")
                .col-sm-4.col-xs-12
                    +widget("social")
            .mid-container
                .copyright
                    p All Rights Reserved
    +anchor("Call Now","tel:+919992993949")(class="fixed-btn")
    +button("")(class="fa fa-angle-up scroll-arrow")
mixin widget(detail)
    .widget
        if detail == "about"
            +logo
            +aboutMeta
        if detail == "services"
            h4 Services
            +ServiceNav
        if detail == "social"
            h4 Stay Connected
            +socialNav