header {
  .full-width();
  float: left;
  padding: 10px 0;
  background: #f1f1f1;
  .header-nav {
    .full-width();
  }
  .nav-menu {
    .full-width();
    .pull-left();
  }
  &.primary {
    background-image: url("");
  }
  &.fixed-header {
    position: fixed;
    top: 0;
  }
}
