// Colors
@grey-darker: #323232;
@brand-primary: #009292;
@brand-dark-primary: #007575;
@brand-secondary: #eeeeee;
// Fonts
@primary-font: "Open Sans";
@secondary-font: "Montserrat";
// Alerts
@brand-info: #2196f3;
@brand-success: #4caf50;
// mixins
.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.transform-scale(@scale) {
  -ms-transform: scale(@scale, @scale);
  -webkit-transform: scale(@scale, @scale);
  transform: scale(@scale, @scale);
}
