.contact-content {
  .pull-left();
  .full-width();
  .social-links {
    .pull-left();
    .full-width();
    li {
      .pull-left();
      .full-width();
      width: auto;
      margin: 0 10px 0 0;
      list-style: none;
      a {
        .primary-btn();
        border: 1px solid @brand-primary;
        padding: 10px 5px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
