.landing-page {
    .service-blog {
        .pull-left();
        .full-width();
    }
    .pull-left();
    .full-width();
    margin: -60px 0 0 0;
    .mid-container {
        .pull-left();
        .full-width();
        padding: 0 250px;
    }
    .service-blog-item {
        .pull-left();
        .full-width();
        .text-center();
        .text-small();
        padding: 8px 12px;
        background: #fff;
        border-radius: 2px;
        &.active {
            box-shadow: 0 0 10px #eee;
        }
        &:hover {
            box-shadow: 0 0 10px #eee;
            -ms-transform: scale(1.1, 1.1);
            -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
        }
    }
}