.landing-page {
  .pull-left();
  .full-width();
  margin: -60px 0 0 0;
  min-height: 1500px;
  .landing-blog {
    .pull-left();
    .full-width();
    padding: 0 0 80px;
    .mid-container {
      .pull-left();
      .full-width();
      padding: 0 250px;
    }
    @media @device-xs-all {
      padding-bottom: 30px;
    }
  }
  .landing-blog-item {
    .pull-left();
    .full-width();
    .text-center();
    .text-small();
    h4 {
      .pull-left();
      .full-width();
      margin: 15px 0 5px;
    }
    p {
      .pull-left();
      .full-width();
      margin: 0 0 10px;
    }
    a {
      .pull-left();
      .full-width();
      margin: 0 0 10px;
    }
    padding: 8px 12px;
    background: #fff;
    border: 0.5px solid rgba(149, 149, 149, 0.3);
    .border-radius(2px);
    @media @device-xs-all {
      margin: 0 0 30px 0;
      img {
        display: inline;
      }
    }
    &.active {
      .transform-scale(1.1);
      box-shadow: 0 0 10px #d8d8d8;
    }
  }
  .landing-service-list {
    .pull-left();
    .full-width();
    .text-center();
    padding: 50px 0;
    background-color: @white;
    .mid-container {
      padding: 0 80px;
    }
    h3 {
      margin: 10px 0 5px;
      font-weight: bold;
      font-family: @secondary-font;
    }
    h3 ~ p {
      .pull-left();
      .full-width();
      margin: 20px 0 40px;
    }
    .service-list-item {
      .pull-left();
      .full-width();
      border: 0.5px solid rgba(240, 240, 240, 0.8);
      margin: 0 0 30px 0;
      padding: 40px 15px 20px;
      box-shadow: 0 0 10px @brand-secondary;
      transition-duration: 0.3s;
      i {
        font-size: 20px;
        margin: 0 0 20px;
      }
      &.active {
        .transform-scale(1.1);
        background-color: @brand-primary;
        color: #fff;
      }
    }
  }
  .banner-section {
    .relative();
    .pull-left();
    .full-width();
    min-height: 350px;
    background: url("../dist/truck.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.3);
    }
    .mid-container {
      .relative();
      .text-center();
      padding: 80px 200px;
    }
    h3 {
      .pull-left();
      width: 100%;
      color: #fff;
    }
    p {
      .pull-left();
      width: 100%;
      color: #fff;
      margin: 15px 0;
    }
  }
  .about-content {
    .pull-left();
    width: 100%;
    padding: 50px 0 30px;
    background-color: #f9f9f9;
    .about-left {
      .pull-left();
      .full-width();
      padding-top: 30px;
      h3 {
        margin: 10px 0 20px;
        font-size: 1.7em;
      }
      p {
        font-size: 1.1em;
        line-height: 1.8;
        margin: 0 0 40px;
      }
      a {
        margin-left: 0;
      }
    }
    .about-right {
      .pull-left();
      .full-width();
      .text-center();
      svg {
        width: 260px;
      }
    }
  }
  .form-content {
    .pull-left();
    .full-width();
    padding: 80px 0 50px;
    background-color: #f9f9f9;
    .mid-container {
      .pull-left();
      .full-width();
    }
    h2 {
      .pull-left();
      .full-width();
      padding: 0 250px 20px;
    }
    p {
      .pull-left();
      .full-width();
      margin-bottom: 30px;
    }
    .landing-form {
      .pull-left();
      width: 100%;
      margin: 20px 0 0 0;
      padding: 50px 40px 20px;
      background: none;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      .material-input {
        .pull-left();
        margin-bottom: 20px;
      }
      .primary-btn {
        margin-left: 0;
      }
    }
  }
  .googleMaps {
    .pull-left();
    .full-width();
    #map {
      height: 350px;
      width: 100%;
      position: relative;
      z-index: 1;
    }
  }
}

@media @device-xs-all {
  .landing-page .landing-blog .mid-container {
    padding: 0;
  }
  .landing-page .landing-service-list .mid-container {
    padding: 0 20px;
  }
  .landing-page .banner-section .mid-container {
    padding: 70px 0px;
  }
  .landing-page .form-content h2 {
    padding: 0 10px 20px;
  }
}

@media @device-sm {
  .landing-page .landing-blog .mid-container {
    padding: 0;
  }
  .landing-page .landing-service-list .mid-container {
    padding: 0 0;
  }
  .landing-page .banner-section .mid-container {
    padding: 70px;
  }
  .landing-page .form-content h2 {
    padding: 0 70px 20px;
  }
}

@media @device-md {
  .landing-page .landing-blog .mid-container {
    padding: 0 90px;
  }
  .landing-page .landing-service-list .mid-container {
    padding: 0 0;
  }
  .landing-page .banner-section .mid-container {
    padding: 70px;
  }
  .landing-page .form-content h2 {
    padding: 0 70px 20px;
  }
}
