.portfolio-page {
  .pull-left();
  .full-width();
  .divider {
    .pull-left();
    .full-width();
    padding: 20px 0;
    background: @brand-secondary;
  }
  .background-section {
    .pull-left();
    .full-width();
    min-height: 300px;
    background: @grey-darker;
  }
  .content-section {
    .pull-left();
    .full-width();
    color: @white;
    min-height: 300px;
    padding: 65px 30px;
    background: @brand-primary;
    h4 {
      .pull-left();
      .full-width();
      margin: 15px 0;
    }
    p {
      .pull-left();
      .full-width();
      margin: 0 0 10px;
      line-height: 1.6;
    }
  }
}