include ../partials/layout

block content
  .about-page
    +header
    section.about-content
      .container
        .row
          .col-sm-6.col-xs-12
            .content-section
              h2 About
              p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          .col-sm-6.col-xs-12
            .icon-section
              +graphic-icon("brand")
    section.warehouse-content
      .container
        .row
          .col-sm-6.col-xs-12
            .icon-section
              +graphic-icon("warehouse")
          .col-sm-6.col-xs-12
            .content-section
              h2 Ware House
              p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    section.landing-content
      .container
        .row
          .col-sm-6.col-xs-12
            .content-section
              h2 Loading
              p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          .col-sm-6.col-xs-12
            .icon-section
              +graphic-icon("loading")
    section.transport-content
      .container
        .row
          .col-sm-6.col-xs-12
            .icon-section
              +graphic-icon("transport")
          .col-sm-6.col-xs-12
            .content-section
              h2 Transport
              p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  +footer