include ../partials/layout

block content
  .contact-page
    +header
    section.contact-content
      .container
        .row
          .col-sm-6.col-xs-12
            h4 Reach Us
            +aboutMeta
            +socialNav
          .col-sm-6.col-xs-12
            +contact-form
    section.map-content
      #map
