include ../partials/layout

block content
  +header
  section.landing-page
    .service-blog
      .container
        .mid-container
          .row
            +landing-blog-item
            +landing-blog-item
            +landing-blog-item            
    .service-list
      .container
        .mid-container
          h3 We are here to serve you the best
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          .row
            +landing-service-item
            +landing-service-item
            +landing-service-item
            +landing-service-item
            +landing-service-item
            +landing-service-item
            +landing-service-item
            +landing-service-item
            