include ../partials/layout

block content
  .landing-page
    +header
    section.landing-blog
      .container
        .mid-container
          .row
            +landing-blog-item
            +landing-blog-item
            +landing-blog-item            
    section.about-content
      .container
        .mid-container
          .row
            .col-sm-6.col-xs-12
              .about-left
                h3 About Us
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                +anchor("Read More")(class="primary-btn")
            .col-sm-6.col-xs-12
              .about-right
                +graphic-icon("brand")
    section.landing-service-list
      .container
        .mid-container
          h3 We are here to serve you the best
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          .row
            +landing-service-item
            +landing-service-item
            +landing-service-item
            +landing-service-item
            +landing-service-item
            +landing-service-item
            +landing-service-item
            +landing-service-item
    section.banner-section
      .container
        .mid-container
          h3.text-center Where does it come from
          p.text-center Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
          +button("Contact Now")(class="default-btn")
    section.form-content
      .container
        .mid-container
          h2.text-center Let Us Help You To Find a Solution For Your Needs
          p.text-center Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry
          +landing-form
    section.googleMaps
      #map
  +footer
  +anchor("Call Now","tel:+919992993949")(class="fixed-btn")
