include ../partials/layout

block content
  +header
  section.landing-page
    .service-blog
      .container
        .mid-container
          .row
            .col-sm-4.col-xs-12
              .service-blog-item.active
                +img("block1.jpg")(class="img-responsive")
                h4 title
                p Lorem Ipsum is simply dummy text.
                +anchor("Read More")
            .col-sm-4.col-xs-12
              .service-blog-item
                +img("block1.jpg")(class="img-responsive")
                h4 title
                p Lorem Ipsum is simply dummy text.
                +anchor("Read More")
            .col-sm-4.col-xs-12
              .service-blog-item
                +img("block1.jpg")(class="img-responsive")
                h4 title
                p Lorem Ipsum is simply dummy text.
                +anchor("Read More")
    .service-list
      h3 We are here to serve you the best
      .service-list-item
        i.fa.fa-plus(aria-hidden="true")
        p
          strong Service Name
        span.text-small Lorem Ipsum is simply dummy text of the printing and typesetting industry.