include ../partials/layout

block content
  +header
  .landing-page
    section.landing-blog
      .container
        .mid-container
          .row
            +landing-blog-item
            +landing-blog-item
            +landing-blog-item            
    section.landing-service-list
      .container
        .mid-container
          h3 We are here to serve you the best
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          .row
            +landing-service-item
            +landing-service-item
            +landing-service-item
            +landing-service-item
            +landing-service-item
            +landing-service-item
            +landing-service-item
            +landing-service-item
    section.banner-section
      .container
        .mid-container
          h3 Where does it come from
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
          +button("Contact Now")(class="default-btn")


            