include ../partials/layout

block content
  .portfolio-page
    +header
    +divider
      .container
    section
      .row.no-gutter
        .col-sm-12.col-md-6
          .background-section
        .col-sm-12.col-md-6
          .content-section
            h4 Title Here
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    section
      .row.no-gutter
        .col-sm-12.col-md-6
          .content-section
            h4 Title Here
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        .col-sm-12.col-md-6
          .background-section

    section
      .row.no-gutter
        .col-sm-12.col-md-6
          .background-section
        .col-sm-12.col-md-6
          .content-section
            h4 Title Here
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    section
      .row.no-gutter
        .col-sm-12.col-md-6
          .content-section
            h4 Title Here
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        .col-sm-12.col-md-6
          .background-section
    +divider
    +footer

    