mixin contact-form
  form.contact-from(action="")
    .row
      .col-sm-6.col-xs-12
        .form-group
          input(type="text", class="material-input form-control", placeholder="Name", required)
      .col-sm-6.col-xs-12
        .form-group
          input(type="tel", class="material-input form-control", placeholder="Contact", required)
      .col-sm-4.col-xs-12
        .form-group
          input(type="text", class="material-input form-control", placeholder="subject")
      .col-sm-8.col-xs-12
        .form-group
          input(type="email", class="material-input form-control", placeholder="Email Id", required)
      .col-sm-12
        .form-group
          textarea(placeholder="Your Message" rows="8" class="form-control material-input")
      input(type="submit", Value="Send", class="primary-btn")
      +button("Clear")(class="secondary-btn")