mixin landing-blog-item
    .col-sm-4.col-xs-12
        .landing-blog-item
            +img("block1.jpg")(class="img-responsive")
            h4 title
            p Lorem Ipsum is simply dummy text.
            +anchor("Read More")

mixin landing-service-item
    .col-sm-3.col-xs-12
        .service-list-item
            i.fa.fa-plus(aria-hidden="true")
            p
                strong Service Name
            span.text-small Lorem Ipsum is simply dummy text of the printing and typesetting industry.

mixin loop
    ul
        each val, index in {1:'one',2:'two',3:'three'}
            li= index + ":" + val