mixin landing-blog-item
    .col-sm-4.col-xs-12
        .landing-blog-item
            +img("block1.jpg")(class="img-responsive")
            h4 title
            p Lorem Ipsum is simply dummy text.
            +anchor("Read More")

mixin landing-service-item
    .col-sm-3.col-xs-12
        .service-list-item
            i.fa.fa-plus(aria-hidden="true")
            p
                strong Service Name
            span.text-small Lorem Ipsum is simply dummy text of the printing and typesetting industry.

mixin landing-form
    from.landing-form
        .row
            .col-sm-4.col-xs-12
                .form-group
                    input(type="text", class="material-input form-control", placeholder="Name*", required)
            .col-sm-4.col-xs-12
                .form-group
                    input(type="text", class="material-input form-control", placeholder="Email*", required)
            .col-sm-4.col-xs-12
                .form-group
                    input(type="text", class="material-input form-control", placeholder="Contact No*", required)
            .col-xs-12
                .form-group
                    textarea(placeholder="Your Message Here", class="material-input form-control", rows="8")
            .col-xs-12
                input(type="submit", class="primary-btn", value="Send")
                +button("Cancel")(class="secondary-btn")