include landing-mixin
include contact-mixin

mixin graphic-icon(name)
  if name == "brand"
    svg#Layer_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', width='300px', height='300px', viewBox='0 0 300 300', enable-background='new 0 0 300 300', xml:space='preserve')
        path(fill='#28BDB9', d='M173.447,14.066c3.771,0.59,7.496,1.33,11.164,2.209l-0.981,3.669L173.447,14.066L173.447,14.066z   M144.934,246.16h12.195v21.34h-12.195V246.16L144.934,246.16z M207.99,251.885l-2.268,1.311l-6.401-11.086l2.267-1.311  L207.99,251.885L207.99,251.885z M94.073,251.885l2.267,1.311l6.4-11.086l-2.266-1.311L94.073,251.885L94.073,251.885z   M248.379,210.542l-1.311,2.266l-11.087-6.399l1.309-2.268L248.379,210.542L248.379,210.542z M235.981,105.291l1.309,2.269  l11.087-6.402l-1.309-2.267L235.981,105.291L235.981,105.291z M262.681,149.752v12.193h-21.34v-12.193H262.681L262.681,149.752z   M176.871,256.454l2.084-0.556l2.016,7.517l-2.083,0.559L176.871,256.454L176.871,256.454z M223.715,230.055l1.524-1.525  l5.504,5.505l-1.525,1.525L223.715,230.055L223.715,230.055z M251.081,183.772l0.558-2.082l7.517,2.015l-0.557,2.082  L251.081,183.772L251.081,183.772z M225.238,83.167l-1.524-1.526l5.503-5.503l1.525,1.525L225.238,83.167L225.238,83.167z   M123.175,263.975l-2.083-0.56l2.015-7.515l2.083,0.556L123.175,263.975L123.175,263.975z M144.934,44.199h12.195v21.339h-12.195  V44.199L144.934,44.199z M102.742,69.59l-2.267,1.31l-6.401-11.088l2.267-1.307L102.742,69.59L102.742,69.59z M199.321,69.59  l2.267,1.31l6.402-11.088l-2.268-1.307L199.321,69.59L199.321,69.59z M66.082,105.291l-1.308,2.269l-11.086-6.402l1.308-2.267  L66.082,105.291L66.082,105.291z M53.686,210.542l1.31,2.266l11.086-6.399l-1.308-2.268L53.686,210.542L53.686,210.542z   M60.721,149.752v12.193h-21.34v-12.193H60.721L60.721,149.752z M121.092,48.283l2.083-0.558l2.017,7.519l-2.084,0.558  L121.092,48.283L121.092,48.283z M71.321,77.664l1.524-1.525l5.503,5.503l-1.524,1.526L71.321,77.664L71.321,77.664z   M42.908,127.994l0.557-2.084l7.518,2.017l-0.558,2.082L42.908,127.994L42.908,127.994z M251.639,130.008l-0.558-2.082l7.518-2.017  l0.557,2.084L251.639,130.008L251.639,130.008z M43.465,185.787l-0.557-2.082l7.517-2.015l0.558,2.082L43.465,185.787  L43.465,185.787z M72.845,235.56l-1.525-1.523l5.504-5.505l1.523,1.524L72.845,235.56L72.845,235.56z M178.955,55.801l-2.084-0.558  l2.017-7.519l2.083,0.558L178.955,55.801L178.955,55.801z M254.007,142.228l-0.305-2.136l7.703-1.101l0.307,2.135L254.007,142.228  L254.007,142.228z M40.656,172.709l-0.305-2.137l7.706-1.1l0.305,2.135L40.656,172.709L40.656,172.709z M234.036,93.402l-1.314-1.71  l6.17-4.744l1.315,1.711L234.036,93.402L234.036,93.402z M63.17,224.749l-1.314-1.709l6.171-4.743l1.314,1.709L63.17,224.749  L63.17,224.749z M246.875,115.806l-0.852-1.981l7.15-3.074l0.85,1.98L246.875,115.806L246.875,115.806z M48.89,200.95l-0.85-1.98  l7.148-3.075l0.852,1.982L48.89,200.95L48.89,200.95z M214.806,73.86l-1.718-1.307l4.716-6.193l1.717,1.305L214.806,73.86  L214.806,73.86z M84.259,245.337l-1.716-1.304l4.716-6.192l1.716,1.306L84.259,245.337L84.259,245.337z M191.454,60.166  l-1.995-0.819l2.954-7.201l1.996,0.819L191.454,60.166L191.454,60.166z M109.65,259.553l-1.996-0.818l2.955-7.201l1.995,0.818  L109.65,259.553L109.65,259.553z M166.637,53.156l-2.135-0.301l1.089-7.707l2.135,0.302L166.637,53.156L166.637,53.156z   M136.473,266.553l-2.135-0.304l1.089-7.706l2.135,0.302L136.473,266.553L136.473,266.553z M137.02,52.927l-2.135,0.313  l-1.128-7.702l2.131-0.313L137.02,52.927L137.02,52.927z M168.307,266.16l-2.132,0.312l-1.131-7.701l2.135-0.313L168.307,266.16  L168.307,266.16z M112.715,59.304l-1.994,0.815l-2.947-7.206l1.997-0.816L112.715,59.304L112.715,59.304z M194.289,258.784  l-1.997,0.818l-2.944-7.206l1.995-0.816L194.289,258.784L194.289,258.784z M89.263,72.337l-1.72,1.301l-4.694-6.209l1.721-1.301  L89.263,72.337L89.263,72.337z M219.213,244.271l-1.72,1.299l-4.692-6.209l1.721-1.299L219.213,244.271L219.213,244.271z   M70.006,90.854l-1.33,1.697l-6.123-4.807l1.332-1.695L70.006,90.854L70.006,90.854z M239.512,223.955l-1.332,1.696l-6.122-4.806  l1.331-1.697L239.512,223.955L239.512,223.955z M55.573,114.9l-0.83,1.99l-7.184-2.994l0.828-1.992L55.573,114.9L55.573,114.9z   M254.505,197.805l-0.829,1.989l-7.186-2.995l0.83-1.988L254.505,197.805L254.505,197.805z M48.409,139.796l-0.312,2.134  l-7.703-1.124l0.312-2.133L48.409,139.796L48.409,139.796z M261.668,170.895l-0.311,2.133l-7.704-1.122l0.313-2.135L261.668,170.895  L261.668,170.895z M155.659,141.59l-4.345-44.271h-0.568l-4.497,44.32c-5.932,1.997-10.208,7.604-10.208,14.209  c0,4.669,2.136,8.838,5.482,11.589l-37.597,65.107l3.094,1.785l37.517-64.97c1.965,0.946,4.168,1.476,6.495,1.476  c8.275,0,14.987-6.709,14.987-14.987c0-0.22-0.005-0.439-0.017-0.658l62.477-42.103l-0.284-0.491l-66.294,32.934  C160.202,143.74,158.064,142.37,155.659,141.59L155.659,141.59z M151.032,144.735c6.136,0,11.113,4.977,11.113,11.114  c0,6.137-4.978,11.112-11.113,11.112c-6.137,0-11.114-4.976-11.114-11.112C139.918,149.712,144.895,144.735,151.032,144.735  L151.032,144.735z M176.756,22.523l-18.479-10.668L139.801,1.187V12.76C65.781,18.489,7.504,80.362,7.504,155.85  c0,79.269,64.258,143.529,143.527,143.529c79.267,0,143.524-64.261,143.526-143.529h-20.156c0,68.14-55.237,123.371-123.37,123.371  c-68.136,0-123.37-55.233-123.37-123.371c0-64.348,49.267-117.182,112.14-122.855V43.86l18.476-10.668L176.756,22.523  L176.756,22.523z M182.194,25.292l-2.805,10.464c-3.802-0.895-7.671-1.613-11.599-2.149L182.194,25.292L182.194,25.292z   M191.738,18.182c9.757,2.88,19.078,6.771,27.849,11.549l-10.085,17.467c-7.255-3.916-14.946-7.124-22.982-9.535L191.738,18.182  L191.738,18.182z M225.972,33.426c8.608,5.281,16.615,11.447,23.9,18.367l-14.26,14.258c-6.034-5.685-12.641-10.771-19.725-15.159  L225.972,33.426L225.972,33.426z M255.086,57.01c6.919,7.285,13.086,15.291,18.367,23.9l-17.469,10.085  c-4.386-7.085-9.471-13.692-15.155-19.725L255.086,57.01L255.086,57.01z M277.143,87.299c4.777,8.77,8.672,18.089,11.551,27.846  l-19.485,5.219c-2.41-8.036-5.618-15.729-9.529-22.984L277.143,87.299L277.143,87.299z M290.6,122.272  c2.307,9.625,3.653,16.406,3.911,26.676h-20.168c-0.247-8.466-1.353-13.502-3.226-21.456L290.6,122.272z')
        g
            rect(x='66.805', y='88.655', fill='#58595B', width='52.134', height='4.009')
            rect(x='92.872', y='88.655', fill='#464647', width='26.066', height='4.009')
            g
            g
                rect(x='74.436', y='50.265', fill='#D8BD76', width='36.872', height='31.282')
                rect(x='92.874', y='50.265', fill='#C4AA69', width='18.434', height='31.282')
                rect(x='73.527', y='49.774', fill='#E9D791', width='38.689', height='5.541')
                rect(x='92.874', y='49.774', fill='#D8BD76', width='19.343', height='5.541')
            g
                rect(x='76.558', y='57.872', fill='#DFE9F2', width='12.559', height='5.697')
                g
                rect(x='86.866', y='58.601', fill='#838386', width='1.334', height='4.238')
                rect(x='84.482', y='58.601', fill='#838386', width='1.334', height='4.238')
                rect(x='82.021', y='58.601', fill='#838386', width='1.334', height='4.238')
                rect(x='79.764', y='58.601', fill='#838386', width='1.336', height='4.238')
                rect(x='77.478', y='58.601', fill='#838386', width='1.333', height='4.238')
            rect(x='63.384', y='81.578', fill='#838386', width='58.975', height='7.312')
            rect(x='92.872', y='81.578', fill='#58595B', width='29.487', height='7.312')
            rect(x='107.616', y='32.51', fill='#838386', width='25.359', height='16.513')
            rect(x='120.295', y='32.51', fill='#58595B', width='12.68', height='16.513')
            rect(x='118.231', y='44.069', fill='#838386', width='4.128', height='44.82')
            rect(x='120.295', y='44.069', fill='#58595B', width='2.064', height='44.82')
            rect(x='109.975', y='34.338', fill='#92CEBD', width='20.641', height='12.856')
            rect(x='120.295', y='34.338', fill='#83B1A5', width='10.32', height='12.856')
            path(fill='#DFE9F2', d='M112.723,38.651h2.426c0.875,0,1.232,0.076,1.232,0.734c0,0.809-2.695,2.99-3.571,3.574v1.819h5.672v-1.885   h-2.273c0.671-0.603,2.273-2.049,2.273-3.541c0-1.514-0.779-2.596-2.468-2.596c-1.559,0-2.403,0.13-3.291,0.325V38.651   L112.723,38.651z M119.303,44.527c0,0.151,0.109,0.251,0.261,0.251h1.222c0.152,0,0.272-0.054,0.272-0.251v-1.265   c0-0.173-0.077-0.271-0.272-0.271h-1.222c-0.173,0-0.261,0.107-0.261,0.271V44.527L119.303,44.527z M119.303,40.577   c0,0.151,0.109,0.25,0.261,0.25h1.222c0.152,0,0.272-0.054,0.272-0.25v-1.265c0-0.173-0.077-0.27-0.272-0.27h-1.222   c-0.173,0-0.261,0.107-0.261,0.27V40.577L119.303,40.577z M121.99,42.7c0,1.298,0.681,2.078,2.087,2.078h1.774   c1.298,0,2.014-0.791,2.014-2.078v-3.759c0-1.124-0.434-2.076-2.001-2.076h-1.775c-1.353,0-2.099,0.778-2.099,2.184V42.7   L121.99,42.7z M124.088,42.257v-2.883c0-0.14-0.021-0.626,0.542-0.626h0.616c0.293,0,0.519,0.129,0.519,0.626v2.895   c0,0.581-0.248,0.625-0.605,0.625h-0.454C124.466,42.893,124.088,42.861,124.088,42.257z')
            path(fill='#CED9E1', d='M120.295,44.778h0.493c0.152,0,0.271-0.054,0.271-0.251v-1.265c0-0.173-0.076-0.271-0.271-0.271h-0.493   V44.778L120.295,44.778z M120.295,40.827h0.493c0.152,0,0.271-0.056,0.271-0.251V39.31c0-0.171-0.076-0.271-0.271-0.271h-0.493   V40.827L120.295,40.827z M121.99,42.7c0,1.298,0.681,2.078,2.087,2.078h1.774c1.3,0,2.015-0.791,2.015-2.078v-3.759   c0-1.124-0.434-2.076-2.003-2.076h-1.774c-1.355,0-2.101,0.778-2.101,2.184L121.99,42.7L121.99,42.7z M124.09,42.257v-2.883   c0-0.142-0.023-0.626,0.541-0.626h0.618c0.292,0,0.519,0.129,0.519,0.626v2.893c0,0.583-0.249,0.626-0.607,0.626h-0.454   C124.466,42.893,124.09,42.861,124.09,42.257z')
        g
            g
            g
                rect(x='196.871', y='39.821', fill='#D8BD76', width='22.559', height='22.559')
                rect(x='208.151', y='39.821', fill='#C4AA69', width='11.278', height='22.559')
                rect(x='196.314', y='39.466', fill='#E9D791', width='23.671', height='3.997')
                rect(x='208.151', y='39.466', fill='#D8BD76', width='11.834', height='3.997')
            g
                rect(x='198.299', y='45.837', fill='#DFE9F2', width='7.684', height='3.484')
                g
                rect(x='204.604', y='46.283', fill='#838386', width='0.814', height='2.593')
                rect(x='203.147', y='46.283', fill='#838386', width='0.815', height='2.593')
                rect(x='201.64', y='46.283', fill='#838386', width='0.818', height='2.593')
                rect(x='200.262', y='46.283', fill='#838386', width='0.815', height='2.593')
                rect(x='198.86', y='46.283', fill='#838386', width='0.816', height='2.593')
            g
            g
                rect(x='193.486', y='62.488', fill='#D8BD76', width='29.328', height='24.884')
                rect(x='208.151', y='62.488', fill='#C4AA69', width='14.664', height='24.884')
                rect(x='192.763', y='62.098', fill='#E9D791', width='30.774', height='4.406')
                rect(x='208.151', y='62.098', fill='#D8BD76', width='15.386', height='4.406')
            g
                rect(x='195.173', y='68.539', fill='#DFE9F2', width='9.992', height='4.532')
                g
                rect(x='203.373', y='69.119', fill='#838386', width='1.062', height='3.373')
                rect(x='201.478', y='69.119', fill='#838386', width='1.063', height='3.373')
                rect(x='199.52', y='69.119', fill='#838386', width='1.062', height='3.373')
                rect(x='197.724', y='69.119', fill='#838386', width='1.063', height='3.373')
                rect(x='195.905', y='69.119', fill='#838386', width='1.062', height='3.373')
            rect(x='227.622', y='33.649', fill='#464647', width='3.896', height='2.385')
            rect(x='223.5', y='33.64', fill='#838386', width='5.432', height='56.116')
            rect(x='226.217', y='33.64', fill='#58595B', width='2.714', height='56.116')
            polygon(fill='#464647', points='189.689,87.326 224.15,87.326 224.15,89.755 183.985,89.755  ')
            g
            circle(fill='#58595B', cx='226.217', cy='88.52', r='8.694')
            path(fill='#464647', d='M226.217,79.826c4.802,0,8.692,3.893,8.692,8.695c0,4.8-3.892,8.693-8.692,8.693V79.826z')
            circle(fill='#838386', cx='226.217', cy='88.52', r='3.423')
            path(fill='#58595B', d='M226.217,85.098c1.889,0,3.421,1.532,3.421,3.423c0,1.89-1.531,3.422-3.421,3.422V85.098z')
            path(fill='#D75551', d='M232.171,32.245h12.158c0.812,0,1.477,0.664,1.477,1.476v2.244c0,0.813-0.665,1.476-1.477,1.476h-12.158   c-0.812,0-1.476-0.664-1.476-1.476v-2.244C230.695,32.908,231.359,32.245,232.171,32.245z')
            path(fill='#B43E37', d='M245.806,34.844v1.12c0,0.813-0.665,1.478-1.477,1.478h-12.158c-0.812,0-1.476-0.665-1.476-1.478v-1.12   H245.806z')
        g
            g
            g
                rect(x='72.149', y='206.416', fill='#D8BD76', width='53.041', height='44.998')
                rect(x='98.67', y='206.416', fill='#C4AA69', width='26.518', height='44.999')
                rect(x='70.84', y='205.709', fill='#E9D791', width='55.657', height='7.971')
                rect(x='98.67', y='205.711', fill='#D8BD76', width='27.827', height='7.969')
            g
                rect(x='75.203', y='217.357', fill='#DFE9F2', width='18.067', height='8.197')
                g
                rect(x='90.029', y='218.408', fill='#838386', width='1.919', height='6.096')
                rect(x='86.601', y='218.408', fill='#838386', width='1.92', height='6.096')
                rect(x='83.059', y='218.408', fill='#838386', width='1.92', height='6.096')
                rect(x='79.815', y='218.408', fill='#838386', width='1.918', height='6.096')
                rect(x='76.523', y='218.408', fill='#838386', width='1.918', height='6.096')
            g
            polygon(fill='#CED9E1', points='97.594,228.658 108.825,220.955 127.697,220.955 138.688,228.658 133.687,250.3 118.261,265.727     102.836,250.3   ')
            polygon(fill='#B5BFC9', points='118.141,220.955 127.697,220.955 138.688,228.658 133.687,250.3 118.261,265.727 118.141,265.605       ')
            polygon(fill='#00B3B3', points='101.178,230.374 110.452,223.857 126.029,223.857 135.102,230.374 130.975,248.68 118.24,261.727     105.505,248.68   ')
            polygon(fill='#069796', points='118.141,223.857 126.03,223.857 135.102,230.374 130.975,248.68 118.24,261.727 118.141,261.625       ')
        g
            g
            g
                rect(x='121.514', y='121.661', fill='#D8BD76', width='68.794', height='58.369')
                rect(x='155.914', y='121.661', fill='#C4AA69', width='34.396', height='58.369')
                rect(x='119.816', y='120.745', fill='#E9D791', width='72.192', height='10.339')
                rect(x='155.914', y='120.745', fill='#D8BD76', width='36.094', height='10.339')
            g
                rect(x='125.475', y='135.854', fill='#DFE9F2', width='23.433', height='10.63')
                g
                rect(x='144.704', y='137.215', fill='#838386', width='2.491', height='7.909')
                rect(x='140.258', y='137.215', fill='#838386', width='2.491', height='7.909')
                rect(x='135.666', y='137.215', fill='#838386', width='2.49', height='7.909')
                rect(x='131.457', y='137.215', fill='#838386', width='2.491', height='7.909')
                rect(x='127.188', y='137.215', fill='#838386', width='2.491', height='7.909')
            g
            path(fill='#DFE9F2', d='M182.643,116.473c1.236-0.246,2.213-0.359,3.578,0.657c0.749,0.124,4.258,0.348,4.146,0.717l-0.935,3.057    c-0.103,0.334-3.124,0.018-3.401,0.301c-0.563,0.574-1.502,0.966-2.212,0.966h-10.327c-0.146,0.034-0.301,0.055-0.457,0.055    h-10.453c-2.529,0-1.965-2.471,0.551-2.751l9.903-1.101c0.029-0.003,0.06,0,0.089,0.002    C176.042,117.735,179.679,117.063,182.643,116.473z')
            path(fill='#DFE9F2', d='M176.011,124.042l7.396-5.203c0.748-0.526,1.792-0.346,2.319,0.404l0,0    c0.527,0.75,0.346,1.794-0.404,2.321l-7.396,5.203c-0.749,0.526-1.791,0.344-2.318-0.405l0,0    C175.078,125.615,175.261,124.57,176.011,124.042z')
            rect(x='185.424', y='115.116', fill='#92CEBD', width='11.105', height='8.772')
            rect(x='185.424', y='119.396', fill='#83B1A5', width='11.105', height='4.492')
            g
            path(fill='#DFE9F2', d='M182.643,185.52c1.236,0.246,2.213,0.359,3.578-0.657c0.749-0.123,4.258-0.347,4.146-0.717l-0.935-3.059    c-0.103-0.334-3.124-0.015-3.401-0.3c-0.563-0.574-1.502-0.964-2.212-0.964h-10.327c-0.146-0.037-0.301-0.057-0.457-0.057h-10.453    c-2.529,0-1.965,2.473,0.551,2.752l9.903,1.1c0.029,0.004,0.06,0,0.089-0.002C176.042,184.257,179.679,184.93,182.643,185.52z')
            path(fill='#DFE9F2', d='M176.011,177.949l7.396,5.203c0.748,0.528,1.792,0.346,2.319-0.404l0,0    c0.527-0.749,0.346-1.792-0.404-2.319l-7.396-5.202c-0.749-0.529-1.791-0.347-2.318,0.403l0,0    C175.078,176.38,175.261,177.424,176.011,177.949z')
            rect(x='185.424', y='178.106', fill='#92CEBD', width='11.105', height='8.77')
            rect(x='185.424', y='178.106', fill='#83B1A5', width='11.105', height='4.49')
        g
            g
            g
                rect(x='199.52', y='207.051', fill='#D8BD76', width='19.803', height='16.801')
                rect(x='209.422', y='207.051', fill='#C4AA69', width='9.901', height='16.801')
                rect(x='199.031', y='206.787', fill='#E9D791', width='20.778', height='2.975')
                rect(x='209.422', y='206.787', fill='#D8BD76', width='10.388', height='2.975')
            g
                rect(x='200.659', y='211.136', fill='#DFE9F2', width='6.743', height='3.06')
                g
                rect(x='206.194', y='211.526', fill='#838386', width='0.717', height='2.278')
                rect(x='204.915', y='211.526', fill='#838386', width='0.716', height='2.278')
                rect(x='203.592', y='211.526', fill='#838386', width='0.717', height='2.278')
                rect(x='202.382', y='211.526', fill='#838386', width='0.716', height='2.278')
                rect(x='201.151', y='211.526', fill='#838386', width='0.717', height='2.278')
            g
            g
                rect(x='226.632', y='207.051', fill='#D8BD76', width='19.804', height='16.801')
                rect(x='236.535', y='207.051', fill='#C4AA69', width='9.9', height='16.801')
                rect(x='226.145', y='206.787', fill='#E9D791', width='20.778', height='2.975')
                rect(x='236.535', y='206.787', fill='#D8BD76', width='10.388', height='2.975')
            g
                rect(x='227.772', y='211.136', fill='#DFE9F2', width='6.746', height='3.06')
                g
                rect(x='233.309', y='211.526', fill='#838386', width='0.716', height='2.278')
                rect(x='232.029', y='211.526', fill='#838386', width='0.716', height='2.278')
                rect(x='230.706', y='211.526', fill='#838386', width='0.716', height='2.278')
                rect(x='229.495', y='211.526', fill='#838386', width='0.717', height='2.278')
                rect(x='228.266', y='211.526', fill='#838386', width='0.717', height='2.278')
            g
            g
                rect(x='226.632', y='229.74', fill='#D8BD76', width='19.804', height='16.803')
                rect(x='236.535', y='229.74', fill='#C4AA69', width='9.9', height='16.803')
                rect(x='226.145', y='229.477', fill='#E9D791', width='20.778', height='2.976')
                rect(x='236.535', y='229.477', fill='#D8BD76', width='10.388', height='2.976')
            g
                rect(x='227.772', y='233.826', fill='#DFE9F2', width='6.746', height='3.059')
                g
                rect(x='233.309', y='234.219', fill='#838386', width='0.716', height='2.274')
                rect(x='232.029', y='234.219', fill='#838386', width='0.716', height='2.274')
                rect(x='230.706', y='234.219', fill='#838386', width='0.716', height='2.274')
                rect(x='229.495', y='234.219', fill='#838386', width='0.717', height='2.274')
                rect(x='228.266', y='234.219', fill='#838386', width='0.717', height='2.274')
            g
            g
                rect(x='199.52', y='229.74', fill='#D8BD76', width='19.803', height='16.803')
                rect(x='209.422', y='229.74', fill='#C4AA69', width='9.901', height='16.803')
                rect(x='199.031', y='229.477', fill='#E9D791', width='20.778', height='2.976')
                rect(x='209.422', y='229.477', fill='#D8BD76', width='10.388', height='2.976')
            g
                rect(x='200.659', y='233.826', fill='#DFE9F2', width='6.743', height='3.059')
                g
                rect(x='206.194', y='234.219', fill='#838386', width='0.717', height='2.274')
                rect(x='204.915', y='234.219', fill='#838386', width='0.716', height='2.274')
                rect(x='203.592', y='234.219', fill='#838386', width='0.717', height='2.274')
                rect(x='202.382', y='234.219', fill='#838386', width='0.716', height='2.274')
                rect(x='201.151', y='234.219', fill='#838386', width='0.717', height='2.274')
            g
            rect(x='197.043', y='246.509', fill='#838386', width='51.825', height='3.689')
            rect(x='197.043', y='248.354', fill='#58595B', width='51.825', height='1.845')
            g
            rect(x='197.043', y='223.769', fill='#838386', width='51.825', height='3.69')
            rect(x='197.043', y='225.614', fill='#58595B', width='51.825', height='1.844')
            g
            g
                rect(x='193.683', y='204.442', fill='#838386', width='3.689', height='54.134')
                rect(x='195.527', y='204.442', fill='#58595B', width='1.845', height='54.134')
            g
                rect(x='248.543', y='204.442', fill='#838386', width='3.688', height='54.134')
                rect(x='250.387', y='204.442', fill='#58595B', width='1.845', height='54.134')
            g
            rect(x='221.113', y='204.442', fill='#838386', width='3.689', height='54.134')
            rect(x='222.958', y='204.442', fill='#58595B', width='1.845', height='54.134')
        g
            g
            path(fill='#58595B', d='M32.356,148.656h49.752c6.374,0,11.589,5.213,11.589,11.588v0.002c0,6.373-5.215,11.59-11.589,11.59    H32.356c-6.375,0-11.588-5.217-11.588-11.59v-0.002C20.768,153.869,25.981,148.656,32.356,148.656z')
            path(fill='#464647', d='M93.698,160.246c0,6.373-5.215,11.59-11.589,11.59H32.356c-6.373,0-11.588-5.217-11.588-11.59H93.698z')
            path(fill='#CED9E1', d='M32.647,150.527h49.169c5.344,0,9.716,4.373,9.716,9.716v0.002c0,5.345-4.372,9.716-9.716,9.716H32.647    c-5.343,0-9.715-4.371-9.715-9.716v-0.002C22.933,154.899,27.305,150.527,32.647,150.527z')
            path(fill='#B5BFC9', d='M91.533,160.246c0,5.344-4.372,9.715-9.716,9.715H32.647c-5.343,0-9.715-4.371-9.715-9.715H91.533z')
            g
                g
                circle(fill='#838386', cx='33.613', cy='160.245', r='6.07')
                path(fill='#58595B', d='M33.613,154.176c3.352,0,6.068,2.717,6.068,6.07c0,3.351-2.716,6.068-6.068,6.068V154.176z')
                g
                circle(fill='#838386', cx='80.853', cy='160.245', r='6.07')
                path(fill='#58595B', d='M80.855,154.176c3.351,0,6.067,2.717,6.067,6.07c0,3.351-2.716,6.068-6.067,6.068V154.176z')
                g
                circle(fill='#838386', cx='57.156', cy='160.245', r='6.07')
                path(fill='#58595B', d='M57.156,154.176c3.352,0,6.071,2.717,6.071,6.07c0,3.351-2.719,6.068-6.071,6.068V154.176z')
            g
            g
                g
                rect(x='31.821', y='127.629', fill='#D8BD76', width='24.658', height='20.92')
                rect(x='44.151', y='127.629', fill='#C4AA69', width='12.328', height='20.92')
                rect(x='31.214', y='127.301', fill='#E9D791', width='25.873', height='3.705')
                rect(x='44.151', y='127.301', fill='#D8BD76', width='12.936', height='3.705')
                g
                rect(x='33.241', y='132.717', fill='#DFE9F2', width='8.398', height='3.811')
                g
                    rect(x='40.133', y='133.204', fill='#838386', width='0.891', height='2.835')
                    rect(x='38.541', y='133.204', fill='#838386', width='0.891', height='2.835')
                    rect(x='36.894', y='133.204', fill='#838386', width='0.893', height='2.835')
                    rect(x='35.385', y='133.204', fill='#838386', width='0.893', height='2.835')
                    rect(x='33.855', y='133.204', fill='#838386', width='0.893', height='2.835')
            g
                g
                rect(x='57.987', y='127.629', fill='#D8BD76', width='24.656', height='20.92')
                rect(x='70.315', y='127.629', fill='#C4AA69', width='12.328', height='20.92')
                rect(x='57.378', y='127.301', fill='#E9D791', width='25.873', height='3.705')
                rect(x='70.315', y='127.301', fill='#D8BD76', width='12.937', height='3.705')
                g
                rect(x='59.406', y='132.717', fill='#DFE9F2', width='8.398', height='3.811')
                g
                    rect(x='66.297', y='133.204', fill='#838386', width='0.893', height='2.835')
                    rect(x='64.704', y='133.204', fill='#838386', width='0.892', height='2.835')
                    rect(x='63.059', y='133.204', fill='#838386', width='0.893', height='2.835')
                    rect(x='61.549', y='133.204', fill='#838386', width='0.893', height='2.835')
                    rect(x='60.019', y='133.204', fill='#838386', width='0.894', height='2.835')
        g
            g
            rect(x='243.143', y='125.633', fill='#D8BD76', width='38.88', height='38.88')
            rect(x='262.585', y='125.633', fill='#C4AA69', width='19.438', height='38.88')
            rect(x='242.184', y='125.023', fill='#E9D791', width='40.798', height='6.886')
            rect(x='262.585', y='125.023', fill='#D8BD76', width='20.396', height='6.886')
            rect(x='232.944', y='165.732', fill='#D8BD76', width='11.237', height='11.237')
            rect(x='280.984', y='165.732', fill='#C4AA69', width='11.235', height='11.237')
            rect(x='232.944', y='165.729', fill='#E9D791', width='59.276', height='4.795')
            rect(x='262.585', y='165.729', fill='#D8BD76', width='29.635', height='4.795')
            g
            rect(x='245.043', y='135.154', fill='#DFE9F2', width='13.737', height='6.232')
            g
                rect(x='256.316', y='135.953', fill='#838386', width='1.462', height='4.635')
                rect(x='253.711', y='135.953', fill='#838386', width='1.461', height='4.635')
                rect(x='251.02', y='135.953', fill='#838386', width='1.459', height='4.635')
                rect(x='248.552', y='135.953', fill='#838386', width='1.46', height='4.635')
                rect(x='246.049', y='135.953', fill='#838386', width='1.461', height='4.635')
  if name == "warehouse"
    +img("graphic-warehouse.svg")
  if name == "loading"
    +img("graphic-loading.svg")
  if name == "transport"
    +img("graphic-transport.svg")

mixin 